# file types
*.log
*.gexf

# images
static/img/icons/
static/img/players/
src/img/print/
src/img/screenshots/
src/img/watermark.png

# directories
bak/
cache/
deploy/
public/
content/print/
content/prints/
static/compiled/
static/d3-geomap/
static/img/icons/
static/img/players/
static/img/print/
static/torlaune/
static/vendor/
test/

# node.js
node_modules/
package-lock.json