# file types
*.log
*.gexf

# directories
cache/
deploy/
content/print/
content/prints/
src/img/
src/img/print/
static/compiled
static/d3-geomap
static/img/print/
static/vendor
test/

# node.js
node_modules
package-lock.json