{% extends "vis/full.html" %}

{% block nav %}
<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> Choose Year <b class="caret"></b></a>
        <ul class="dropdown-menu" id="year-select"></ul>
  </li>
  <li><a id="animate" href="#"><i class="fa fa-play"></i> Play Animation</a></li>
</ul>
{% endblock %}

{% block vis %}
<div id="map"></div>
{% endblock %}

{% block body_scripts %}
<script src="/vendor/d3/d3.v3.min.js"></script>
<script src="/vendor/d3/queue.v1.min.js"></script>
<script src="/vendor/d3/d3.geo.projection.v0.min.js"></script>
<script src="/vendor/d3/topojson.v1.min.js"></script>
<script src="/js/colors.js"></script>
{% endblock %}

{% block inlinejs %}
<script>
var map = {
    year: {
        default: {{ map.year.default }},
        min: {{ map.year.min }},
        max: {{ map.year.max }},
        selected: {{ map.year.selected }}
    },
    legend: {
        title: '{{ map.legend.title }}',
        width: {{ map.legend.width }},
        height: {{ map.legend.height }}
    },
    source: {
        url: '{{ map.source.url }}',
        title: '{{ map.source.title }}'
    }
};
queue()
    .defer(d3.json, '/json/topo/countries.topo.json')
    .defer(d3.csv, '{{ map.source.data }}')
    .await(initMap);
</script>
{% endblock %}