{% extends 'base2.html' %}
{% import 'macros.html' as m %}
{% set limit = 4 %}

{% block content %}
<div class="container">
    {% for coll, docs in design_collections %}
        <h2><a href="/prints/{{ coll|replace(' ', '-') }}/">{{ coll|title }} Collection</a></h2>
        <div class="columns">
            {% for doc in docs[:limit] %}
            <div class="column">
                {{ m.gallery_item(doc) }}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}