<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<hr />
<div class="row">
<div class="col-md-12">
<ul style="list-style:none;margin:0;padding:0;max-width:600px;">
	<li>*|RSSITEMS:|*</li>
	<li>
	<h3><a href="*|RSSITEM:URL|*">*|RSSITEM:TITLE|*</a></h3>
	*|RSSITEM:CONTENT_FULL|*
	<hr /></li>
	<li>*|END:RSSITEMS|*</li>
</ul>
</div>
</div>

<div class="btn-group">
    <a class="btn btn-lg btn-primary" href="https://twitter.com/DatavisDaily" style="color:#fff;">follow on Twitter</a>
    <a class="btn btn-lg btn-primary" href="*|FORWARD|*" style="color:#fff;">forward to a friend</a>
</div>

<hr>