.card-img-top {
    height: 300px;
}
.card-title {
    font-size: 1.2rem;
}

cite {font-style:italic;}

.spacer5 {clear:both;height:5px;}
.centered {text-align:center;}
.clearfix {clear:both;}
.voffset {margin:.5em 0;}
.roffset {margin-right: .5em;}
.huge {font-size: 2em;}

.caret {
opacity:.8;
}
.small {
font-size:.85em;
}
.tags span {
padding:.4em;
margin-bottom:.5em;
font-size:1.1em;
}
.tags a {
color:#fff;
}
.share a {
font-size: 20px;
}
/* wrappers */
#comments {
padding-top:10px;
}
body.full #footer {display:none;}

.modal-large {
width:76%;
margin-left:-38%;
}
