{% extends "vis/full.html" %}

{% block styles %}
{{ super() }}
<link href="/d3-geomap/d3-geomap.min.css" rel="stylesheet">
<link href="/css/choropleth.css" rel="stylesheet">
{% endblock %}

{% block nav %}
<div class="navbar-nav dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Choose Column
  </a>
  <ul class="dropdown-menu" id="col-select"></ul>
</div>
<a id="animate"><i class="fa-solid fa-play"></i> Play Animation</a>
{% endblock %}

{% block vis %}
<div class="d3-geomap" id="map"></div>
{% endblock %}

{% block body_scripts %}
<script src="//unpkg.com/d3@5.9.2/dist/d3.min.js"></script>
<script src="//unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
<script src="/d3-geomap/d3-geomap.min.js"></script>
<script src="/compiled/map/choropleth.js"></script>
{% endblock %}