<h4>Graph Navigation</h4>
<p>You can zoom in and out the graph with the mouse wheel. You can move the graph by clicking and holding the left mouse button and moving the mouse.</p>
<h4>Actor Information</h4>
<p>When you click on an actor node in the graph a modal window with information about the actor will be displayed.</p>
<h4>Actor Search</h4>
<p>Search for actors from the top menu to highlight their connections.</p>
<h4>Film Highlighting</h4>
<p>Choose and click on a film from the <strong>Choose Film</strong> menu to only show actors that appeared in that film.</p>
