<h4>Graph Navigation</h4>
<p>You can zoom in and out the graph with the mouse wheel. You can move the graph by clicking and holding the left mouse button and moving the mouse.</p>
<h4>Language Information</h4>
<p>When you click on a language node in the graph a modal window with information about the language will be displayed.</p>
<h4>Language Search</h4>
<p>Search for a language name from the top menu to highlight its connections. Languages in orange influenced the highlighted language and blue ones were influenced by it.</p>
<h4>Paradigm Highlighting</h4>
<p>Choose and click on a paradigm from the <strong>Language Paradigm</strong> menu to only show languages within this paradigm.</p>