<div id="showposter" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{ poster.title }}</h3>
      </div>
      <div class="modal-body">
          <div style="text-align:center;line-height:150%"> <a href="{{ poster.url }}"> <img src="{{ poster.image }}" alt="{{ poster.title }}" style="border:0;" /> </a> <br /> <a href="{{ poster.url }}">{{ poster.title }}</a> by <a href="http://www.zazzle.com/geeksta*">geeksta</a></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->