{% set version = '?v=8' %}
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %} | Exploring Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}
      <meta name="description" content="{{description}}">
    {% endif %}
    {% if image %}
      <meta property="og:image" content="{{base_url}}{{image}}">
    {% endif %}
    <meta name="author" content="Ramiro Gómez">
    <link rel="canonical" href="{{canonical}}">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css{{version}}" rel="stylesheet">
    {% for style in styles %}
      <link href="{{style}}{% if not style.startswith('http') %}{{version}}{% endif %}" rel="stylesheet">
    {% endfor %}
    {% block inlinecss %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico">
    {% if base_url %}
      {% block rsslink %}
        <link rel="alternate" type="application/rss+xml" title="Exploring Data main RSS feed" href="{{base_url}}/rss.xml">
      {% endblock %}
    {% endif %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    {% block navbar %}
    <div id="navbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a id="site-name" class="brand" href="/">Exploring Data</a>
          <div class="nav-collapse">
            {% block nav %}{% endblock %}
            {% include 'sharemenu.html' %}
            {% block nav_right %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block header %}{% endblock %}
    {% block vis %}{% endblock %}
    {% block content %}{% endblock %}
    {% block comments %}{% endblock %}
    {% block footer %}
    <div id="footer" class="container">
      <div class="row"><div class="span12">
        <footer>
          <p class="centered">Exploring Data is a site about data mining and visualization by <a href="http://ramiro.org/">Ramiro Gómez</a>.<br>
          Except where otherwise noted, the works on this site are licensed under a<br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br>
          <a href="/about/"><i class="icon-info-sign"></i> About</a> | <a href="/what-others-say/"><i class="icon-comments"></i> What Others Say</a> | <a href="/sitemap/"><i class="icon-sitemap"></i> Sitemap</a></p>
        </footer>
      </div></div>
    </div>
    {% endblock %}
    {% block modals %}{% endblock %}

    {% include 'ga.html' %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/script.js{{version}}"></script>
    {% if scripts %}
      {% for script in scripts %}
          <script src="{{script}}{% if not script.startswith('http') %}{{version}}{% endif %}"></script>
      {% endfor %}
    {% endif %}

    {% block inlinejs %}{% endblock %}
  </body>
</html>