{% extends "page.html" %}
{% import 'macros.html' as m %}

{% block content %}
<div id="info" class="container-fluid">
<div class="row">
  <div class="col-md-9 col-lg-10">
    <h1>{{ title }}</h1>
    {{ body }}
  </div>
  <div class="col-md-3 col-lg-2">
    <h3>Book Categories</h3>
    <ul>
      <li><a href="/data-visualization-books/general/">Data Visualization</a></li>
      <li><a href="/data-visualization-books/maps/">Maps &amp; Cartography</a></li>
      <li><a href="/data-visualization-books/analysis/">Data Mining &amp; Analysis</a></li>
      <li><a href="/data-visualization-books/coding/">Creative Coding</a></li>
      <li><a href="/data-visualization-books/ddj/">Data Driven Journalism</a></li>
    </ul>
    {% include 'right.html' %}
  </div>
</div>
<div class="container-fluid">
{{ description }}
{{ m.disclaimer() }}
</div>
</div>
{% endblock %}