{% extends "page.html" %}

{% block content %}
<div id="info" class="container-fluid">
<div class="row">
  <div class="col-md-9 col-lg-10"><h1>{{title}}</h1>{{body}}</div>
  <div class="col-md-3 col-lg-2">
    <h3>Book Categories</h3>
    <ul class="list-unstyled categories">
      <li><a href="/data-visualization-books/general/">Data Visualization</a></li>
      <li><a href="/data-visualization-books/maps/">Maps &amp; Cartography</a></li>
      <li><a href="/data-visualization-books/analysis/">Data Mining &amp; Analysis</a></li>
      <li><a href="/data-visualization-books/coding/">Creative Coding</a></li>
      <li><a href="/data-visualization-books/ddj/">Data Driven Journalism</a></li>
    </ul>
    {% include 'right.html' %}
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ description }}
        <p>External links to Amazon on this website contain affiliate IDs, which means that I earn a commission if you make a purchase using these links. This allows me to offer hopefully valuable content for free while keeping this website sustainable. For more information, please see the <a href="/about/">about page</a>.</p>
    </div>
</div>
</div>
{% endblock %}