{% extends "page.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for doc in get_docs('/info/')[:12] %}
    <div class="col-md-6 col-lg-3">
      <div class="card mt-2">
        <a href="{{doc.url}}" title="Read more">
          <img src="{{ m.image_src(doc.image, base_url, size='preview') }}" alt="{{ doc.title }}" class="card-img-top object-fit-scale">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ doc.title }}</h5>
          <p class="card-text">{{ doc.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
