{% extends "page.html" %}
{% set title = title|title %}

{% block content %}
<div id="info" class="container"><div class="row">
    <div class="col-md-9">
        <h1 class="index_title">{{ title }}</h1>
        <ul class="list-unstyled index_list flatlist">
        {% for doc in docs %}
          <li class="index_item"><h2><a href="{{ doc.url }}">{{ doc.title }}</a></h2>{% if doc.description %}<p>{{ doc.description }}</p>{% endif %}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        {% include 'right.html' %}
    </div>
</div></div>
{% endblock %}