{% macro breadcrumb(path, anchor, title) -%}
<hr>
<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="/" itemprop="url"><span itemprop="title">Exploring Data Home</span></a> ›
    <a href="{{ path }}" itemprop="url"><span itemprop="title">{{ anchor }}</span></a> ›
    {{ title }}
</div>
{%- endmacro %}


{% macro card(url, title, image, text='') %}
<div class="card mt-2">
    <a href="{{ url }}" title="Read more">
        <img class="card-img-top object-fit-scale" loading="lazy" src="{{ image }}" alt="{{ title }}">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        {% if text %}
            <p class="card-text">{{ text }}</p>
        {% endif %}
    </div>
</div>
{%- endmacro %}


{% macro disclaimer() %}
<p>Disclosure: As an Amazon Associate I earn commissions from qualifying purchases made via links on this page. Please see the <a href="/about/">about page</a> for more information.</p>
{%- endmacro %}


{% macro gallery_item(doc) %}
{{ card(doc.url, doc.title, '/img/print/preview/' + doc.image) }}
{% endmacro %}


{% macro image_src(image, base_url, size='large') %}
{% if image.startswith('http') %}{{ image }}
{% elif image.startswith('/img/') %}
    {% if size == 'preview' %}{{ image|replace('/large/', '/preview/') }}{% else %}{{ image }}{% endif %}
{% else %}{{ base_url }}/img/{{ size }}/{{ image }}
{% endif %}
{% endmacro %}


{% macro index(name) -%}
{% for url, anchor in name %}<a href="{{url|e}}">{{anchor|e}}</a>{% if not loop.last %}, {% endif %}{% endfor %}
{%- endmacro %}