{% macro card(url, title, image, text='') %}
<div class="card">
    <a href="{{ url }}">
        <img loading="lazy" src="{{ image_src(image, base_url, size='preview') }}" alt="{{ title }}">
        <h3>{{ title|truncate(60) }}</h3>
    </a>
    {% if text %}<p>{{ text|truncate(100) }}</p>{% endif %}
</div>
{%- endmacro %}


{% macro content_gallery(docs, limit=30) %}
<div class="container columns">
    {% for doc in docs[:limit] %}
        <div class="column">
            {{ card(doc.url, doc.title, doc.image, doc.description) }}
        </div>
    {% endfor %}
</div>
{% endmacro %}


{% macro disclaimer() %}
<p>Disclosure: As an Amazon Associate I earn commissions from qualifying purchases made via links on this page. Please see the <a href="/about/">about page</a> for more information.</p>
{%- endmacro %}


{% macro image_src(image, base_url, size='large') %}
{% if image.startswith('http') %}{{ image }}
{% elif image.startswith('/img/') %}
    {% if size == 'preview' %}{{ image|replace('/large/', '/preview/') }}{% else %}{{ image }}{% endif %}
{% else %}{{ base_url }}/img/{{ size }}/{{ image }}
{% endif %}
{% endmacro %}


{% macro index(name) -%}
{% for url, anchor in name %}<a href="{{url|e}}">{{anchor|e}}</a>{% if not loop.last %}, {% endif %}{% endfor %}
{%- endmacro %}


{% macro print_item(doc) %}
{{ card(doc.url, doc.title, '/img/print/preview/' + doc.image) }}
{% endmacro %}
