<ul style="list-style:none;margin:0;padding:0;">
<li>*|RSSITEMS:|*</li>
<li><h3 style="font-size:1.2em;"><a href="*|RSSITEM:URL|*">*|RSSITEM:TITLE|*</a></h3><p>*|RSSITEM:CONTENT_TEXT|*</p></li>
<li>*|END:RSSITEMS|*</li>
</ul>
<hr />
<h2 style="font-size:1.5em;">Recommended Books on Data Visualization</h2>
<a href="http://www.amazon.com/gp/product/0321834739/ref=as_li_tf_il?ie=UTF8&tag=datavisweekly-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0321834739"><img alt="The Functional Art: An introduction to information graphics and visualization" src="http://datavisdaily.geeksta.net/static/img/books/The-Functional-Art.jpg" title="The Functional Art: An introduction to information graphics and visualization" /></a>
<a href="http://www.amazon.com/gp/product/1449339735/ref=as_li_tf_il?ie=UTF8&tag=datavisweekly-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1449339735"><img alt="Interactive Data Visualization for the Web" src="http://datavisdaily.geeksta.net/static/img/books/Interactive-Data-Visualization-for-the-Web.jpg" title="Interactive Data Visualization for the Web" /></a>
<a href="http://www.amazon.com/gp/product/1449312284/ref=as_li_tf_il?ie=UTF8&tag=datavisweekly-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1449312284"><img alt="Designing Data Visualizations" src="http://datavisdaily.geeksta.net/static/img/books/Designing-Data-Visualizations.jpg" title="Designing Data Visualizations" /></a>
<a href="http://www.amazon.com/gp/product/1449328792/ref=as_li_tf_il?ie=UTF8&tag=datavisweekly-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1449328792"><img alt="Getting Started with D3" src="http://datavisdaily.geeksta.net/static/img/books/Getting-Started-with-D3.jpg
" title="Getting Started with D3" /></a>
<a href="http://www.amazon.com/gp/product/0970601972/ref=as_li_tf_il?ie=UTF8&tag=datavisweekly-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0970601972"><img alt="Show Me the Numbers: Designing Tables and Graphs to Enlighten" src="http://datavisdaily.geeksta.net/static/img/books/Show-Me-the-Numbers.jpg" title="Show Me the Numbers: Designing Tables and Graphs to Enlighten" /></a>
<a href="http://www.amazon.com/gp/product/0470944889/ref=as_li_tf_il?ie=UTF8&tag=datavisweekly-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0470944889"><img alt="Visualize This: The FlowingData Guide to Design, Visualization, and Statistics" src="http://datavisdaily.geeksta.net/static/img/books/Visualize-This.jpg" title="Visualize This: The FlowingData Guide to Design, Visualization, and Statistics" /></a>


<div class="btn-group"><a class="btn btn-lg btn-primary" href="https://twitter.com/yaph" style="color:#fff;">follow on Twitter</a> <a class="btn btn-lg btn-primary" href="*|FORWARD|*" style="color:#fff;">forward to a friend</a></div>
