<ul class="nav navbar-nav">
    {# <li><a href="/story/">✎ Data Stories</a></li> #}
    <li><a href="/data-visualization-books/">📕 Data Books</a></li>
    <li><a href="/data-visualization-posters/">🛒 Posters</a></li>
    <li><a href="https://www.amazon.com/s/ref=w_bl_sl_s_ap_web_7141123011?ie=UTF8&node=7141123011&field-brandtextbin=Exploring+Data+Apparel&_encoding=UTF8&tag=xpdt-20&linkCode=ur2&linkId=9e857f784277104a21c9a5542c76b9a5&camp=1789&creative=9325">👕 Shirts</a></li>
    <li><a href="/datasearch/">🔍 Search for Data</a></li>
    <li><a href="/sitemap/">🖧 Sitemap</a></li>
</ul>