{% extends "base.html" %}

{% block nav %}
<ul class="nav">
  <li><a href="/story/"><i class="icon-edit"></i> Data Stories</a></li>
  <li><a href="/datasearch/"><i class="icon-search"></i> Data Search</a></li>
  <li><a href="/data-visualization-books/"><i class="icon-book"></i> Data Books</a></li>
  <li><a href="/what-others-say/"><i class="icon-comments"></i> What Others Say</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="info">
<div class="row">
  <div class="span9"><h1>{{title}}</h1>{{body}}</div>
  <div class="span3">
    {% include 'right.html' %}
  </div>
</div>
</div>
{% endblock %}
