{% import 'macros.html' as m %}
{% if created %}
<div class="postinfo">
<hr class="clearfix">
<div class="well">
<p>Published on {{ created.strftime('%B %d, %Y') }}{% if updated and updated.strftime('%Y%m%d') != created.strftime('%Y%m%d') %} (updated on {{ updated.strftime('%B %d, %Y') }}){% endif %} by <a href="http://ramiro.org/">Ramiro Gómez</a> (<a href="https://twitter.com/yaph">@yaph</a>).<br>
Tags: {{ m.index(tags_links) }}.<br>
To be informed of new posts, subscribe to the <a href="/rss.xml">RSS feed</a>.</p>
{% include 'tags.html' %}
</div>
</div>
{% endif %}