<h3>Keep Exploring</h3>
<ul class="unstyled btn-list">
<li class="pull-left"><a href="/rss.xml"><button class="zocial rss">Subscribe</button></a></li>
<li class="pull-right"><a href="https://twitter.com/yaph"><button class="zocial twitter">Follow me</button></a></li>
</ul>
<div id="mc_embed_signup" class="clearfix well">
<form action="http://github.us6.list-manage.com/subscribe/post?u=6e91c5ec6f31498a21bc80826&amp;id=bb7db2c23d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate>
<label for="mce-EMAIL">Subscribe to the <strong>Datavis Weekly Newsletter</strong></label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
</form>
</div>
