<h3>Keep Exploring</h3>
<div class="btn-group">
<a href="/rss.xml" class="btn btn-warning"><i class="icon-rss"> News feed</i></a>
<a href="https://twitter.com/yaph" class="btn btn-info"><i class="icon-twitter"></i> Follow on Twitter</a>
</div>

<div id="mc_embed_signup" class="clearfix well voffset">
<form action="http://github.us6.list-manage.com/subscribe/post?u=6e91c5ec6f31498a21bc80826&amp;id=bb7db2c23d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate>
<label for="mce-EMAIL">Subscribe to the <strong>Datavis Weekly Newsletter</strong></label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
</form>
</div>