<div id="sharemenu" class="nav pull-right">
<div class="btn-group">
  <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-share"></i></a>
  <ul class="share dropdown-menu">
    <li><a class="btn" href="/rss.xml"><i class="icon-rss"></i> RSS Feed</a></li>
    <li><a class="btn" href="https://twitter.com/share?url={{canonical|urlencode}}&text={{title|urlencode}}"><i class="icon-twitter"></i> Tweet this</a></li>
    <li><a class="btn" href="https://flattr.com/submit/auto?user_id=rg&url={{canonical|urlencode}}&title={{title|urlencode}}&language=en_GB&category=software"><i class="icon-sign-blank"></i> Flattr this</a></li>
    <li><a class="btn" href="http://www.facebook.com/sharer.php?u={{canonical|urlencode}}&t={{title|urlencode}}"><i class="icon-facebook"></i> Facebook</a></li>
    <li><a class="btn" href="https://plus.google.com/share?url={{canonical|urlencode}}"><i class="icon-google-plus"></i> Google+</a></li>
    <li><a class="btn" href="http://www.linkedin.com/shareArticle?mini=true&url={{canonical|urlencode}}&title={{title|urlencode}}"><i class="icon-linkedin"></i> LinkedIn</a></li>
  </ul>
</div>
</div>
