<div id="sharemenu" class="nav pull-right">
    <div class="btn-group">
        <a href="#" class="btn navbar-btn btn-success dropdown-toggle" data-toggle="dropdown">+</a>
        <ul class="share dropdown-menu pull-right">
            <li><a href="/rss.xml">RSS Feed</a></li>
            <li><a href="https://twitter.com/share?url={{canonical|urlencode}}&text={{title|urlencode}}">Tweet this</a></li>
            <li><a href="https://flattr.com/submit/auto?user_id=rg&url={{canonical|urlencode}}&title={{title|urlencode}}&language=en_GB&category=software">Flattr this</a></li>
            <li><a href="https://www.facebook.com/sharer.php?u={{canonical|urlencode}}&t={{title|urlencode}}">Facebook</a></li>
            <li><a href="https://plus.google.com/share?url={{canonical|urlencode}}">Google+</a></li>
            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{canonical|urlencode}}&title={{title|urlencode}}">LinkedIn</a></li>
        </ul>
    </div>
</div>