<div id="sharemenu" class="nav pull-right">
    <div class="btn-group">
        <a href="#" class="btn navbar-btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share"></i></a>
        <ul class="share dropdown-menu pull-right">
            <li><a href="/rss.xml"><i class="fa fa-rss"></i> RSS Feed</a></li>
            <li><a href="https://twitter.com/share?url={{canonical|urlencode}}&text={{title|urlencode}}"><i class="fa fa-twitter"></i> Tweet this</a></li>
            <li><a href="https://flattr.com/submit/auto?user_id=rg&url={{canonical|urlencode}}&title={{title|urlencode}}&language=en_GB&category=software"><i class="fa fa-plus"></i> Flattr this</a></li>
            <li><a href="http://www.facebook.com/sharer.php?u={{canonical|urlencode}}&t={{title|urlencode}}"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://plus.google.com/share?url={{canonical|urlencode}}"><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{canonical|urlencode}}&title={{title|urlencode}}"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        </ul>
    </div>
</div>