{% extends "page.html" %}

{% block content %}
<div id="info" class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ title }}</h1>
            <h2>Data Visualizations</h2>
            <ul class="list-unstyled">
            {% for doc in get_docs('/vis/')|rejectattr('noindex') %}
                <li><a href="{{doc.url}}" title="{{doc.description}}">{{doc.title}}</a></li>
            {% endfor %}
            </ul>
            <h2>Maps</h2>
            <ul class="list-unstyled">
            {% for doc in get_docs('/map/')|rejectattr('noindex') %}
                <li><a href="{{doc.url}}" title="{{doc.description}}">{{doc.title}}</a></li>
            {% endfor %}
            </ul>
            <h2>About Visualizations</h2>
            <ul class="list-unstyled">
            {% for doc in get_docs('/info/')|rejectattr('noindex') %}
                <li><a href="{{doc.url}}" title="{{doc.description}}">{{doc.title}}</a></li>
            {% endfor %}
            </ul>
            <h2>Data Stories</h2>
            <ul class="list-unstyled">
            {% for doc in get_docs('/story/')|rejectattr('noindex') %}
                <li><a href="{{doc.url}}" title="{{doc.description}}">{{doc.title}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            {% include 'right.html' %}
        </div>
    </div>
</div></div>
{% endblock %}
