<div id="social">
{% if base_url %}<div class="socialbutton"><a class="rssbutton" href="{{base_url}}/rss.xml"><img src="/img/rss.png" alt="Subscribe to RSS feed"></a></div>{% endif %}
<div class="socialbutton"><script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script></div>
<div class="socialbutton"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div>
<div class="socialbutton"><div class="g-plus" data-action="share"></div></div>
<div class="socialbutton"><a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://geeksta.net/"></a><noscript><a href="http://flattr.com/thing/724193/Geeksta"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" /></a></noscript></div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
<script type="text/javascript">(function() {var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];s.type = 'text/javascript';s.async = true;s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';t.parentNode.insertBefore(s, t);})();</script>
