{% extends "empty.html" %}

{% block base_styles %}
{{ super()}}
<link rel="stylesheet" href="/css/worldbank-map.css">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="app"></div>
{{ body|safe}}
<a id="logo-link" href="/"><img src="/img/exploring-data.png" alt="Exploring Data"></a>
{% endblock %}

{% block base_scripts %}
<script src="https://cdn.jsdelivr.net/npm/d3@7/dist/d3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/topojson-client@3/dist/topojson-client.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/dist/plot.umd.min.js"></script>
{% endblock %}