{% extends "vis/blank.html" %}

{% block nav %}
<ul class="nav">
  <li><input class="menuitem typeahead" type="text" data-provide="typeahead" placeholder="Search nodes"></li>
  <li><a class="showposter" href="http://www.zazzle.com/network_of_ballon_dor_2012_votes-228281073875592203?rf=238355915198956003">Poster</a></li>
</ul>
{% endblock %}

{% block vis %}
<div class="row"><div class="span12">
<div class="sigma-parent"><div class="sigma-expand" id="sig"></div></div>
</div></div>
{% endblock %}
