{% extends "base.html" %}

{% block vis %}
<div class="row"><div class="span12" id="vis"></div></div>
{% endblock %}

{% block content %}
<div id="info">
<div class="row"><div class="span12"><hr></div></div>
<div class="row">
  <div class="span9"><h1>{{title}}</h1>{{body}}</div>
  <div class="span3">
    {% include 'postinfo.html' %}
    <h3>Keep Exploring</h3>
    <ul class="unstyled btn-list">
      <li class="pull-left"><a href="/rss.xml"><button class="zocial rss">Subscribe</button></a></li>
      <li class="pull-right"><a href="https://twitter.com/yaph"><button class="zocial twitter">Follow me</button></a></li>
    </ul>
  </div>
</div>
</div>
{% include 'comment.html' %}
{% endblock %}
