{% extends "base.html" %}

{% block bodyclass %}full{% endblock %}

{% block navbar %}
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a id="site-name" class="brand" href="/">Exploring Data</a>
    <div class="nav-collapse">
      {% block nav %}{% endblock %}
      <div class="pull-right modalmenu">
        <a href="{{ related }}" class="btn"><i class="icon-info-sign"></i> </a>
        <a href="{{ related }}#comments" class="btn"><i class="icon-comment"></i> </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block vis %}
<div id="vis"></div>
{% endblock %}