{% extends "vis/blank.html" %}

{% block inlinecss %}
<style>
.thumbnails img {height:300px;}
</style>
{% endblock %}

{% block vis %}
<div class="container">
    <div class="row"><div class="span12">

        <ul class="thumbnails">
          <li class="span4">
            <a href="/img/ip-location-maps/world0.1.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/world0.1.png" alt="World Map Dense">
              <h3>World Map Dense</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/world0.01.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/world0.01.png" alt="World Map Medium">
              <h3>World Map Medium</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/world0.005.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/world0.005.png" alt="World Map Sparse">
              <h3>World Map Sparse</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/AF.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/AF.png" alt="Africa">
              <h3>Africa</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/AS.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/AS.png" alt="Asia">
              <h3>Asia</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/OC.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/OC.png" alt="Australia">
              <h3>Australia</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/EU.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/EU.png" alt="Europe">
              <h3>Europe</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/NA.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/NA.png" alt="North America">
              <h3>North America</h3>
            </a>
          </li>
          <li class="span4">
            <a href="/img/ip-location-maps/SA.png" class="thumbnail">
              <img src="/img/preview/ip-location-maps/SA.png" alt="South America">
              <h3>South America</h3>
            </a>
          </li>
        </ul>

    </div></div>
</div>
{% endblock %}