{% extends "vis/blank-with-nav.html" %}

{% import 'macros.html' as m %}

{% block vis %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/world0.1.png', 'World Map Dense', '/img/preview/ip-location-maps/world0.1.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/world0.01.png', 'World Map Medium', '/img/preview/ip-location-maps/world0.01.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/world0.005.png', 'World Map Sparse', '/img/preview/ip-location-maps/world0.005.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/AF.png', 'Africa', '/img/preview/ip-location-maps/AF.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/AS.png', 'Asia', '/img/preview/ip-location-maps/AS.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/OC.png', 'Australia', '/img/preview/ip-location-maps/OC.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/EU.png', 'Europe', '/img/preview/ip-location-maps/EU.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/NA.png', 'North America', '/img/preview/ip-location-maps/NA.png') }}
        </div>
        <div class="col-md-6 col-lg-4">
            {{ m.card('/img/ip-location-maps/SA.png', 'South America', '/img/preview/ip-location-maps/SA.png') }}
        </div>
    </div>
    <hr>
</div>
{% endblock %}