{% extends "vis/sigma.html" %}

{% block nav %}
<div class="navbar-nav">{% include 'snippets/typeahead.html' %}</div>
<div class="navbar-nav dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Choose Film
  </a>
  <ul class="dropdown-menu graphfilter" id="paradigms"></ul>
</div>
<a data-bs-toggle="modal" data-bs-target="#help">Help</a>
{% endblock %}

{% block modals %}
{% include 'vis/modal.html' %}
{% include 'snippets/shownode.html'%}
{{ super() }}
{% endblock %}