{% extends "base.html" %}

{% block nav %}
<ul class="nav">
  <li><a href="#visinfo">Info</a></li>
  <li><a class="showhelp" href="">Help</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language Paradigm <b class="caret"></b></a>
    <ul class="dropdown-menu" id="paradigms"></ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose Layout <b class="caret"></b></a>
    <ul class="dropdown-menu" id="layout">
      <li class="active"><a href="#forceatlas2">Force Atlas 2</a></li>
      <li><a href="#random">Random</a></li>
    </ul>
  </li>
  <li><a class="showposter" href="http://www.zazzle.com/programming_languages_influence_network_poster-228947989414708643?rf=238355915198956003">Poster</a></li>
<!--  <li><a class="graphlayout" href="">Start Layout</a></li> -->
</ul>
{% endblock %}

{% block content %}
<div class="row"><div class="span12">
<div class="sigma-parent">
  <div class="sigma-expand" id="sig"></div>
</div>
</div></div>

{{ body }}

{% endblock %}
