{% extends "vis/sigma.html" %}

{% block body_scripts %}
<script>
var gexf = '{{ graphfile }}';
</script>
{{ super() }}
{% endblock %}

{% block nav %}
<div class="navbar-nav dropdown">
  <li>{% include 'snippets/typeahead.html' %}</li>
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Language Paradigm
  </a>
  <ul class="dropdown-menu graphfilter" id="paradigms"></ul>
</div>
<a class="showhelp" href="#">Help</a>
{% endblock %}

{% block modals %}
<div id="help" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Help</h3>
      </div>
      <div class="modal-body">
        <h4>Graph Navigation</h4>
        <p>You can zoom in and out the graph with the mouse wheel. You can move the graph by clicking and holding the left mouse button and moving the mouse.</p>
        <h4>Language Information</h4>
        <p>When you click on a language node in the graph a modal window with information about the language will be displayed.</p>
        <h4>Language Search</h4>
        <p>Search for a language name from the top menu to highlight its connections. Languages in orange influenced the highlighted language and blue ones were influenced by it.</p>
        <h4>Paradigm Highlighting</h4>
        <p>Choose and click on a paradigm from the <strong>Language Paradigm</strong> menu to only show languages within this paradigm.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{ super() }}
{% endblock %}