{% extends "vis/story.html" %}

{% block vis %}
<div class="container">
    <div class="row">
        <div class="span6">
        <iframe src="http://cf.datawrapper.de/vTXHj/1/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="500" height="800"></iframe>
        </div>
        <div class="span6">
        <iframe src="http://cf.datawrapper.de/XefBI/1/" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="500" height="800"></iframe>
        </div>
    </div>
</div>
{% endblock %}