{% extends "vis/full.html" %}

{% block styles %}
    {{ super() }}
    <link href="/css/typeahead.css" rel="stylesheet">
    <link href="/css/sigmagraphdark.css" rel="stylesheet">
{% endblock %}

{% block body_scripts %}
<script src="/vendor/sigma/sigma.min.js"></script>
<script src="/vendor/sigma/sigma.parseJson.js"></script>
<script src="/vendor/twitter/typeahead.bundle.min.js"></script>
<script src="/js/visgexf.js"></script>
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav">
  <li>{% include 'snippets/typeahead.html' %}</li>
</ul>
{% endblock %}

{% block nav_right %}
  {% if poster %}
  <div class="pull-right">
      <a href="{{ poster.url }}" class="roffset btn navbar-btn btn-warning">🛒 <strong>Buy Print</strong></a>
  </div>
  {% endif %}
{% endblock %}

{% block vis %}
<div id="vis" class="sigma-parent"><div id="loading">Loading the data may take a while, please be patient...</div><div id="sig" class="sigma-expand"></div></div>
{% endblock %}

{% block modals %}
{% include 'snippets/shownode.html'%}
{% endblock %}