{% extends "vis/full.html" %}

{% block styles %}
    {{ super() }}
    <link href="/css/typeahead.css{{version}}" rel="stylesheet">
    <link href="/css/sigmagraphdark.css{{version}}" rel="stylesheet">
{% endblock %}

{% block body_scripts %}
<script src="/vendor/sigma/sigma.min.js"></script>
<script src="/vendor/sigma/sigma.parseJson.js"></script>
<script src="/vendor/twitter/typeahead.bundle.min.js"></script>
<script src="/js/visgexf.js"></script>
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav">
  <li>{% include 'snippets/typeahead.html' %}</li>
</ul>
{% endblock %}

{% block nav_right %}
  {% if poster %}
  <ul class="nav navbar-nav pull-right">
    <li><div class="btn-group"><a class="roffset btn navbar-btn btn-primary showposter" href="{{ poster.url }}">Get the Poster</a></div></li>
  </ul>
  {% endif %}
{% endblock %}

{% block vis %}
<div id="vis" class="sigma-parent"><div id="loading">Loading the data may take a while, please be patient...</div><div id="sig" class="sigma-expand"></div></div>
{% endblock %}

{% block modals %}
<div id="shownode" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="close" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>

{% if poster %}
<div id="showposter" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ poster.title }}</h3>
  </div>
  <div class="modal-body">
    <div style="text-align:center;line-height:150%"> <a href="{{ poster.url }}"> <img src="{{ poster.image }}" alt="Network of Ballon d&#39;Or 2012 Votes" style="border:0;" /> </a> <br /> <a href="{{ poster.url }}">{{ poster.title }}</a> by <a href="http://www.zazzle.com/geeksta*">geeksta</a></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="close" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>
{% endif %}

{% endblock %}