{% extends "base.html" %}

{% block nav %}
<ul class="nav">
  <li><a href="#visinfo">Info</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row" class="vis">
  <div class="span7">
    <div id="vis"></div>
  </div>
  <div class="span5" class="sidebar">
    <div id="expsummary">
      <h3>About this Visualization</h3>
      <div class="well">
        <p>This visualization displays information on <strong id="platformcount"></strong> computer platforms with security vulnerabilities, that could or still can be exploited with techniques and tools listed in the <a href="http://www.exploit-db.com/">Exploit Database</a>. The dataset with <strong id="exploitcount"></strong> exploits was last updated Sun Oct 21 2012.</p>
      </div>
    </div>
    <div id="expplatforms">
      <h3>Top exploited platforms</h3>
      <div class="well">
        <h4>Platform counts</h4>
        <div id="platforms" class="bar"></div>
      </div>
    </div>
    <div class="nodeinfo">
      <button id="overview" class="btn pull-right" title="Show top exploited platforms"><i class="icon-remove"></i></button>
      <h3>Platform: <span id="platform"></span></h3>
      <div class="well">
        <h4>Exploit type counts</h4>
        <div id="exptypes" class="bar"></div>
        <p class="small">The Exploit Database categorizes exploits based on the targeted software/hardware into different types like dos, local, remote and webapps.</p>
      </div>
      <div class="well">
        <h4>Exploit file counts</h4>
        <div id="expcode" class="bar"></div>
        <p class="small">Exploits are either programs or textual descriptions on how to perform the exploit and are broken down into languages or file types of exploit files.</p>
      </div>
    </div>
    <div id="legend" class="alert alert-info">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <i class="icon-info-sign" title="Visualization Info"></i>
      <p>Circle size indicates the number of exploits for that platform.</p>
      <ul>
          <li>Click on a circle to show bar charts for types and source files.</li>
          <li>Zoom the spiral with the mousewheel while the mouse is over a node.</li>
          <li>Click and hold while over a node to drag the spiral with the mouse.</li>
      </ul>
    </div>
  </div>
</div>

<div id="visinfo" class="row"><div class="span12">
<h1>{{title}}</h1>{{body}}
</div></div>
{% endblock %}
