{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span6">
    <h4>US Unemployment Rates from September 2012</h4>
    <div id="map" class="Reds"></div>
  </div>
  <div class="span6 sidebar">
    <h4>Select States</h4>
    <div id="selectstates" class="Reds col col4"></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Unemployment Rates of Selected States during Term</h4>
    <div id="timeline"></div>
  </div>
</div>

<div id="visinfo" class="row"><div class="span12">
<hr>
<h1>{{title}}</h1>{{body}}
</div></div>
{% endblock %}
