{% extends "vis/blank.html" %}

{% block nav %}
<ul class="nav navbar-nav">
  <li class="active"><a href="" id="norelate" class="relate">Total Amounts</a></li>
  <li><a href="" id="SP.POP.TOTL" class="relate" title="Population, total">By Population</a></li>
  <li><a href="" id="NY.GDP.MKTP.CD" class="relate" title="GDP (current US$)">By GDP</a></li>
</ul>
<a id="expand" class="btn navbar-btn menulimit" title="Expand bar charts and show more countries in scatterplot"><i class="fa fa-plus"></i></a>
<a id="reduce" class="btn navbar-btn menulimit disabled" title="Reduce bar charts and show fewer countries in scatterplot"><i class="fa fa-minus"></i></a>
{% endblock %}

{% block vis %}
<div class="container">
<div class="row">
  <div class="col-md-7">
    <h4>World aid flow</h4>
    <div id="map" class="RdBu"></div>
  </div>
  <div class="col-md-5 sidebar">
    <div class="bar donors">
      <h4>Donors by aid sums</h4>
      <div id="aiddonors"></div>
      <div class="legend">Ranking of countries by aid donations given in USD.</div>
    </div>
    <div class="bar donors">
      <h4>Aid Transparency Index</h4>
      <div id="donorstransparency"></div>
      <div class="legend">Aid Transparency Index ratings for countries giving aid money.</div>
    </div>
  </div>
</div>

<div id="aidcharts" class="row">
  <div class="col-md-7">
    <div class="bar">
      <h4>How aid received compares to
        <select id="indicators" class="headingselect"></select>
      </h4>
      <div class="scatterplot" id="aidrelations"></div>
      <div class="legend">Aid donations compared to selected world development indicators.</div>
    </div>
  </div>
  <div class="col-md-5 sidebar">
    <div class="bar recipients">
      <h4>Recipients by aid sums</h4>
      <div id="aidrecipients"></div>
      <div class="legend">Ranking by aid donations received from countries in USD.</div>
    </div>
    <div class="bar recipients">
      <h4>CPIA transparency Rating</h4>
      <div id="recipientstransparency"></div>
      <div class="legend">CPIA transparency, accountability, and corruption ratings (1=low to 6=high).</div>
    </div>
  </div>
</div>
</div>

<div id="country-aid" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body" id="country-aid-chart" style="width:500px;"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}