{% extends "base.html" %}

{% block nav %}
<ul class="nav">
<!--  <li>-->
<!--    <div class="btn-group"><a class="active btn btn-primary countryselect" href="#donors">Show Donors</a></div>-->
<!--  </li>-->
<!--  <li class="divider-vertical"></li>-->
<!--  <li>-->
<!--    <div class="btn-group"><a class="btn btn-primary countryselect" href="#recipients">Show Recipients</a></div>-->
<!--  </li>-->
  <li class="active"><a href="">Overview</a></li>
  <li class="divider-vertical"></li>
  <li class="active"><a href="#">Total Amounts</a></li>
  <li><a href="#">By Population</a></li>
  <li><a href="#">By GDP</a></li>
</ul>

{% endblock %}

{% block content %}
<div class="tab-content">

  <div id="tab-aid" class="tab-pane active">
    <div class="row">
      <div class="span7">
        <h4>World aid flow</h4>
        <div id="map" class="RdBu"></div>
      </div>
      <div class="span5 sidebar">
        <div class="bar">
          <h4>Donors by aid sums</h4>
          <div id="aiddonors"></div>
          <div class="legend">Ranking of countries by total aid money given in USD.</div>
        </div>
        <div class="bar">
          <h4>Donors by transparency</h4>
          <div id=""></div>
          <div class="legend">Ranking of countries by transparency ratings.</div>
        </div>
      </div>
    </div>
    <div id="aidcharts" class="row">
      <div class="span7">
        <div class="bar">
          <h4>How aid received relates to 
            <select id="indicators" class="headingselect">
              <option value="IT.MLT.MAIN.P2">Telephone lines (per 100 people)</option>
              <option value="IT.CEL.SETS.P2">Mobile cellular subscriptions (per 100 people)</option>
              <option value="IT.NET.USER.P2">Internet users (per 100 people)</option>
              <option value="IT.NET.BBND.P2">Fixed broadband Internet subscribers (per 100 people)</option>
              <option value="IT.NET.USER.P2">Internet users (per 100 people)</option>

              <option value="IC.FRM.CORR.ZS">Informal payments to public officials (% of firms)</option>
              <option value="IC.REG.DURS">Time required to start a business (days)</option>
              <option value="IC.TAX.GIFT.ZS">Firms expected to give gifts in meetings with tax officials (% of firms)</option>

              <option value="BN.CAB.XOKA.GD.ZS">Current account balance (% of GDP)</option>
              <option value="BN.GSR.FCTY.CD">Net income (BoP, current US$)</option>
              <option value="DT.DFR.DPPG.CD">Debt forgiveness or reduction (current US$)</option>
              <option value="DT.DOD.DECT.CD">External debt stocks, total (DOD, current US$)</option>

              <option value="IQ.CPA.DEBT.XQ">CPIA debt policy rating (1=low to 6=high)</option>
              <option value="IQ.CPA.FINS.XQ">CPIA financial sector rating (1=low to 6=high)</option>
              <option value="IQ.CPA.FISP.XQ">CPIA fiscal policy rating (1=low to 6=high)</option>
              <option value="IQ.CPA.PADM.XQ">CPIA quality of public administration rating (1=low to 6=high)</option>
              <option value="IQ.CPA.PROT.XQ">CPIA social protection rating (1=low to 6=high)</option>
              <option value="IQ.CPA.TRAD.XQ">CPIA trade rating (1=low to 6=high)</option>
              <option value="IQ.CPA.TRAN.XQ">CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)</option>

              <option value="MS.MIL.TOTL.P1">Armed forces personnel, total</option>
              <option value="MS.MIL.XPND.CN">Military expenditure (current LCU)</option>
              <option value="MS.MIL.XPND.GD.ZS">Military expenditure (% of GDP)</option>
              <option value="MS.MIL.XPND.ZS">Military expenditure (% of central government expenditure)</option>
              <option value="MS.MIL.XPRT.KD">Arms exports (constant 1990 US$)</option>
              <option value="NE.IMP.GNFS.CD">Imports of goods and services (current US$)</option>

              <option value="SE.ADT.1524.LT.FE.ZS">Literacy rate, youth female (% of females ages 15-24)</option>
              <option value="SE.ADT.1524.LT.MA.ZS">Literacy rate, youth male (% of males ages 15-24)</option>
              <option value="SE.ADT.1524.LT.ZS">Literacy rate, youth total (% of people ages 15-24)</option>
              <option value="SE.ADT.LITR.FE.ZS">Literacy rate, adult female (% of females ages 15 and above)</option>
              <option value="SE.ADT.LITR.MA.ZS">Literacy rate, adult male (% of males ages 15 and above)</option>
              <option value="SE.ADT.LITR.ZS">Literacy rate, adult total (% of people ages 15 and above)</option>
              <option value="SE.XPD.TOTL.GB.ZS">Public spending on education, total (% of government expenditure)</option>
              <option value="SE.XPD.TOTL.GD.ZS">Public spending on education, total (% of GDP)'
            </select>
          </h4>
          <div class="scatterplot" id="aidrelations"></div>
          <div class="legend">Ranking by total aid money received from countries and organizations in USD.</div>
        </div>
      </div>
      <div class="span5 sidebar">
        <div class="bar">
          <h4>Recipients by aid sums</h4>
          <div id="aidrecipients"></div>
          <div class="legend">Ranking by total aid money received from countries and organizations in USD.</div>
        </div>
        <div class="bar">
          <h4>Recipients by transparency</h4>
          <div class="legend">Ranking by  total aid money received from countries and organizations in USD.</div>
        </div>
      </div>
    </div>
  </div>

  <div id="tab-communication" class="tab-pane">
    <div class="row">
      <div class="span4">
        <h4>Internet users</h4>
        <div class="bar" id="IT.NET.USER"></div>
      </div>
    </div>
  </div>

</div><!-- .tab-content -->

<div id="visinfo" class="row"><div class="span12">
<h1>{{title}}</h1>{{body}}
</div></div>
{% endblock %}
