{% extends "base.html" %}

{% block nav %}
<ul class="nav">
  <li>
    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Select Donors</a>
      <div class="dropdown-menu">
      <ul id="donors">
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
      </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Select Recipients</a>
      <div class="dropdown-menu">
      <ul id="donors">
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> USA</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> Germany</label></li>
        <li><label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1"> France</label></li>
      </ul>
      </div>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row" id="visnav">
  <div class="span12">
    <ul class="nav nav-pills pull-left">
      <li class="active"><a href="#">World Aid Flow</a></li>
      <li><a href="#">Communication/Transparency</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Total Amounts</a></li>
      <li><a href="#">By Population</a></li>
      <li><a href="#">By GDP</a></li>
    </ul>
  </div>
</div>

<div class="row" class="vis">
  <div class="span8">
    <div id="map"></div>
  </div>
  <div class="span4">
    <h4>Donors Ranking</h4>
    <div id="aiddonors"></div>
    <h4>Recipients Ranking</h4>
    <div id="aidrecipients"></div>
  </div>
</div>

<div id="countrycharts" class="row">
<div class="span2"><h3>USA</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Germany</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Italy</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Spain</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>France</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Greece</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>USA</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Germany</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Italy</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Spain</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>France</h3><img src="http://placehold.it/170x250" alt=""></div>
<div class="span2"><h3>Greece</h3><img src="http://placehold.it/170x250" alt=""></div>
</div>

<div id="visinfo" class="row"><div class="span12">
<h1>{{title}}</h1>{{body}}
</div></div>
{% endblock %}
